
@mixin desktop($desktop) {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop2($desktop) {
    @media (max-width: #{$desktop}) {
        @content;
    }
}



// font-size declaration

h1 {
    font-size: 1.625rem; 
}
h2 {
    font-size: 1.625rem;
    font-weight: 500;
}
h3 {
    font-size: 0.75rem;
    font-weight: 400;
}
h4 {
    font-size: 0.9375rem;
    font-weight: 500;
}
h5 {
    font-size: 0.75rem;
    font-weight: 500;
}
h6 {
    font-size: 0.5625rem;
}
p {
    font-size: 0.75rem;
    line-height: 27px;
}



@include desktop(907px) {
    h1 {
        font-size: 4rem; 
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.625rem;
    }
    h4 {
        font-size: 1.3125rem;
    }
    h5 {
        font-size: 1.0625rem;
    }
    h6 {
        font-size: 0.6875rem;
    }
    p {
        font-size: 0.9375rem;
        line-height: 33.75px;
    }
}

//section

section {
    padding: 0 16px;
    width: 100%;
    @include desktop(907px) {
        padding: 0 64px;
    }
}

a{
    text-decoration: none;
}
ul {
    list-style: none;
}